.wrapper {
  width: 270px;
  height: 50px;
  display: flex;
  margin-top: 2px;
  margin-bottom: 20px;
}

.wrapper input {
  text-align: center;  
  max-width: 90px;
} 

.plusminus {
  height: 100%;
  width: 30%;
  background: #03c4a1;
  border: none;
  font-size: 40px;
  color: #f4f4f4;
  border-radius: 8px;
  
}

.plusminus:hover {
  background-color: #009e81;
}

.num {
  border-radius: 8px;
  height: 100%;
  width: 39%;
  border: none;
  font-size: 25px;
}