
nav {
  list-style: none;
}

/* HEADER */
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  color: #fff;
}

header nav {
  display: flex;
}

header a {
  margin: 0 15px;
  cursor: pointer;
} 

.link-component { 
  color: #fbfbfc;
  display: block;
  margin-top: 24px;
  transition: color 0.2s;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.link-component svg{
    margin-right: 15px;
}

header a:first-child {
  margin-left: 0;
}

header a:last-child {
  margin-right: 0;
}

#body {
  display: flex;
  align-items: center;
  margin-top: 108px;
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }
  header img {
    margin-bottom: 15px;
  }

  #body{
    margin-top: 160px;
  }
}