.container {
  border: dashed #03c4a1 3px;
  border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
  width: 250px;
  display: flex;
  position: relative;
  right: 14%;
  margin-top: 3px;
  margin-bottom: 30px;
}

.content {
  width: 100%;
  text-align: left;
}

.file-upload {
  margin-top: 10px;
  padding: 0;
}

.file-upload label{
  width: 100%;
  color: #999;
  cursor: pointer;
}

.file-upload label:hover{
  color: #03c4a1;
  
}

[type=file] {
  position: absolute;
  filter: alpha(opacity=0);
  opacity: 0;
}

.file-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #444;
}

.preview img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin-right: 10px;
}

.file-info {
  display: flex;
  align-items: center;
}

.file-info div {
  display: flex;
  flex-direction: column; 
}

.file-info span {
  font-size: 12px;
  color: #999;
  margin-top: 5px;
}

.file-info div button {
  border: 0;
  background: transparent;
  color: #e57878;
  margin-left: 5px;
  cursor: pointer;
}


@media screen and (max-width: 991px) {
  .container {
    right: 31%;
  }
}
@media screen and (max-width: 575px) {
  .container {
    right: 19%;
  }
}