
.box {
  min-width: 300px;
}

.product-box .box{
  background: #fff;
  border-radius: 10px; 
  padding: 40px 10px;
  margin: 20px 70px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.box-img img{
  border-radius: 10px;
  width: 150px;
  margin-top: 10px;
} 

.product-box .box:hover{
 box-shadow: 0 0 6px #4183D7;
}


.product-box .box .box-text{
  margin:20px 0px;
  font-size: 15px;
  line-height: 30px;
}

.product-box .box .box-btn a{
  text-decoration: none;
  color: #4183D7;
  font-size: 16px;
}

.fa{
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 25px;
  color:#4183D7;
}

#btnDelete {
  border-style: none;
  background: none;
}
