#list {
  margin-top: 80px;
  max-width: 700px;
}
 
#list a {
  background: #fff;
  border-radius: 5px;
  width: 100%;
  padding: 24px;
  display: block;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: transform 0.2s;
}

#list img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
#list div {
  margin-left: 16px;
}

#list strong{
  font-size: 20px;
  color: #3d3d4d;
}

#list p {
  font-size: 18px;
  color: #a8a8b3;
  margin-top: 4px;
}

#list svg {
  margin-left: auto;
  color: #a8a8b3;
}