.row {
  display: flex;
  padding: 0 30px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.col-md-4-auto {
  margin-top: -90px;
  margin-bottom: 110px;
}

@media screen and (max-width: 991px) {
  .row {
    border: solid red 2px;
  }
}
@media screen and (max-width: 575px) {
  .row {
    border: solid white 2px;
  }
}